body{
    background-image: url("background.jpg");
    background-size: cover;
    margin: 0px;
}
.text h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    font-style: oblique;
    text-align: center;
    text-decoration: underline overline;
    text-transform: capitalize;
}
.calc{
    text-align: center;
}
.output{
    display: inline-block;
    width: 600px;
    margin: 0px;
    border: 2px solid black;
    
}
.output h1{
    margin: 30px;
    font-size: 40px;
    color: orangered;
    padding-bottom: 0px;
}
.output #result{
    color: white;
    font-size: 30px;
    text-align: right;
    width: 570px;
    background-color: black;
    padding: 15px;
    margin-bottom: 0px;
}
.output .input{
    margin-top: 0px;
    padding: 10px;
    width: 150px;
    font-size: 25px;
    background-color: white;
}
.output #output{
    margin-top: 0px;
    padding: 10px;
    width: 150px;
    font-size: 25px;
    background-color: orange;
}
