body{
    background-image: url("background.jpg");
    background-size: cover;
    margin: 0px;
}
.text h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    font-style: oblique;
    text-align: center;
    text-decoration: underline overline;
    text-transform: capitalize;
}
.calc{
    text-align: center;
}
.output{
    display: inline-block;
    width: 600px;
    margin: 0px;
    border: 2px solid black;
    
}
.output h1{
    margin: 30px;
    font-size: 40px;
    color: orangered;
    padding-bottom: 0px;
}
.output #result{
    color: white;
    font-size: 30px;
    text-align: right;
    width: 570px;
    background-color: black;
    padding: 15px;
    margin-bottom: 0px;
}
.output .input{
    margin-top: 0px;
    padding: 10px;
    width: 150px;
    font-size: 25px;
    background-color: white;
}
.output #output{
    margin-top: 0px;
    padding: 10px;
    width: 150px;
    font-size: 25px;
    background-color: orange;
}
@media only screen and (max-width: 1150px){
    .text h1{
        font-size: 60px;
    }
    .output{
        width: 500px;
    }
    .output h1{
        margin: 28px;
        font-size: 45px;
    }
    .output #result{
        width: 470px;
        padding: 15px;
    }
    .output .input{
        width: 125px;
        font-size: 20px;
    }
    .output #output{
        width: 125px;
        font-size: 20px;
    }
}
@media(max-width: 750px){
    .text h1{
        font-size: 50px;
    }
    .output{
        width: 300px;
    }
    .output #result{
        width: 280px;
        padding: 10px;
    }
    .output .input{
        width: 75px;
        font-size: 20px;
    }
    .output #output{
        width: 75px;
        font-size: 20px;
    }
}
